<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
	<%= render @users %> 
<!-- the same as the commented out code below -->
<!--   <% @users.each do |user| %>
  <%= render user %>
  <% end %> -->
</ul>

<%= will_paginate %>